<section>
{{#if isEditing}}
    <button type="button" class="btn btn-default" {{action 'save'}}>Save</button>
{{else}}
    <button type="button" class="btn btn-default" {{action 'edit'}}>Edit</button>
{{/if}}
</section>

{{#each fieldObjects as |field|}}
    <dt>{{field.fieldDef.title}}</dt>
    <dd>
        {{#if isEditing}}
            {{#if field.isBoolean}}
                {{input type="checkbox" checked=field.value}}
            {{else}}
                {{input value=field.value}}
            {{/if}}
        {{else}}
            {{#if field.isBoolean}}
                {{if field.value 'Yes' 'No'}}
            {{else}}
                {{field.value}}
            {{/if}}
        {{/if}}
    </dd>
{{/each}}
